<div class="wrapper">
    <header class="main-header">
        <a href="../../index2.html" class="logo">
          <span class="logo-mini"><b>A</b>LT</span>
          <span class="logo-lg"><b>Issue</b>Track</span>
        </a>
        <nav class="navbar navbar-static-top">
           <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <a class="nav-link" href="javascript:void(0);" (click)="login()">Login </a>
              </li>
              <li class="dropdown notifications-menu">
                <a class="nav-link" href="javascript:void(0);" (click)="signUp()">SignUp </a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<div class="container">
    <div class="row">

        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto middle_divs">

            <div class="card card-signin my-5" style="border: 0px!important;">
                <div class="card-body">
                    <div class="info-form"
                        style="border:1px solid;border-color:lightgrey;border-radius:25px;padding:5%;">
                        <form #LoginForm="ngForm" (ngSubmit)="fogot_pwd_data()" class="form-inlin justify-content-center">

                            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Forgot Password</h1>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Username Or Email</label>
                                <input type="text" name="uname" [(ngModel)]="uname" #u_name="ngModel"
                                    class="form-control" id="Username" aria-describedby="userHelp"
                                    placeholder="Enter Username Or Email">
                                <div style="display: none;margin-top: 1%" id="forgot_password_validation" class="alert alert-danger" role="alert">
                                    Please Enter Username Or Email Address.
                                </div>
                            </div>
                            <div class="loader" id="loader" ></div>
                            <button id="forgot_pwd_submit" type="submit" class="btn btn_width btn-success"><i class="fas fa-paper-plane"></i>&nbsp;Send Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>