<div class="wrapper">
    <header class="main-header">
        <a href="../../index2.html" class="logo">
            <span class="logo-mini"><b>A</b>LT</span>
            <span class="logo-lg"><b>Issue</b>Track</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="">{{Issue_Track_UserName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);" (click)="edit_profile()"
                                    class="btn btn-default btn-flat User-profile-btn">Edit Profile</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" (click)="change_password()"
                                    class="btn btn-default btn-flat User-profile-btn">Change Password</a>
                            </li>
                            <li>
                                <a href="javascript:void(0); " (click)="logout()" class="btn btn-default btn-flat User-profile-btn">Sign
                                    out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                    <div class="pull-left image" *ngIf="Issue_Track_socialPlatform == 'google' || Issue_Track_socialPlatform == 'facebook'">
                            <img src="{{Issue_Track_provider_pic}}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left image" *ngIf="Issue_Track_socialPlatform == 'normal'">
                            <img src="http://npatelproject.site/assets/img/empty_avatar.jpg" class="img-circle" alt="User Image">
                        </div>
                <div class="pull-left info" style="height:auto;">
                    <p>{{Issue_Track_UserName}}</p>
                </div>
            </div>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="">
                    <a href="javascript:void(0);" [routerLink]="['/Dashboard']">
                        <i class="fa fa-th"></i> <span>Dashboard</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto middle_divs">
                    <div class="card card-signin my-5" style="border: 0px!important;">
                        <div class="card-body">
                            <div class="info-form"
                                style="border:1px solid;border-color:lightgrey;border-radius:25px;padding:5%;">
                                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Change Password</h1>
                                <form #SignUpForm="ngForm" (ngSubmit)="change_password_data()"
                                    class="form-inlin justify-content-center">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Old Password</label>
                                        <input type="password" name="old_pwd" [(ngModel)]="old_pwd" #opwd="ngModel"
                                            class="form-control" id="exampleInputOldPassword1"
                                            placeholder="Old Password">
                                        <div style="display: none;margin-top: 1%" id="old_password_validation"
                                            class="alert alert-danger" role="alert">
                                            Please Enter Old Passworrd.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" name="password" [(ngModel)]="password" #pwd="ngModel"
                                            class="form-control" (keyup)="PassRequirements($event.target.value)"
                                            id="exampleInputPassword1" placeholder="Password">
                                        <div class="message arrow-top" id="messagebox">
                                            <div class="tooltiptext" id="tooltiptext">
                                                <h3>Password Requirements:</h3>
                                                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                                <p id="number" class="invalid">A <b>number</b></p>
                                                <p id="length" class="invalid">Minimum <b>7 characters</b> and maximum
                                                    <b>14
                                                        characters</b></p>
                                            </div>
                                        </div>
                                        <div style="display: none;margin-top: 1%" id="password_validation"
                                            class="alert alert-danger" role="alert">
                                            The Password Does not met Requirements.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Confirm Password</label>
                                        <input type="password" name="cnf_pwd" [(ngModel)]="cnf_pwd" #rpwd="ngModel"
                                            class="form-control" id="exampleInputConfirmPassword1"
                                            placeholder="Confirm Password">
                                        <div style="display: none;margin-top: 1%" id="retype_password_validation"
                                            class="alert alert-danger" role="alert">
                                            Password Does not Match.
                                        </div>
                                    </div>
                                    <div class="loader" id="loader"></div>
                                    <button type="submit" class="btn btn_width btn-success" id="signup_submit"
                                        [disabled]="!SignUpForm.form.valid">Change Password</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>